# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:

1.   Numpy
2.   Pandas
3. Matplotlib

Data Science Tools

*   Jupyter
*   Apache Spark
*   BigML

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

List popular languages for Data Science:


1.   Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.
8. JavaScript.

Author:

Liudmyla